let mapleader = " "
source ~/.vimrc

set ideajoin
set ideastatusicon=gray
set surround
set easymotion
set NERDTree

map U <C-R>

"" Re:
map <leader>rf <Action>(ReformatCode)
map <leader>rn <Action>(RenameElement)

"" find
map <leader>fc <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)
map <leader>fs <Action>(GotoSymbol)
map <leader>fg <Action>(FindInPath)
map <leader>fu <Action>(FindUsages)
map <leader>fa <Action>(GotoAction)

"" new:
map <leader>nf <Action>(NewElement)

"" show:
map <leader>su <Action>(ShowUsages)
map <leader>sf <Action>(SelectInProjectView)
map <leader>sn <Action>(ViewNavigationBar)
map <leader>se <Action>(RecentFiles)
map <leader>sg <Action>(ActivateCommitToolWindow)
map <leader>sd <Action>(QuickJavaDoc)
map <leader>sl <Action>(ActivateVersionControlToolWindow)
map <leader>sb <Action>(ViewStatusBar)


map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>rr <Action>(Run)

map <leader>ca <Action>(ShowIntentionActions)

"" replace ideavim's emulated <C-o> and <C-i> with IDE's to have correct
"" history
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
