let mapleader = " "
source ~/.vimrc

set ideajoin
set ideastatusicon=gray
set surround
set easymotion
set NERDTree

map U <C-R>

"" Re:
map <leader>rf <Action>(ReformatCode)
map <leader>rn <Action>(RenameElement)

"" find:
map <leader>fc <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)
map <leader>fs <Action>(GotoSymbol)
map <leader>fe <Action>(RecentFiles)
map <leader>fg <Action>(FindInPath)
map <leader>fr <Action>(RecentFiles)

"" new:
map <leader>nf <Action>(NewElement)

"" show:
map <leader>su <Action>(ShowUsages)
map <leader>sf :NERDTreeToggle<cr>

map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

"" replace ideavim's emulated <C-o> and <C-i> with IDE's to have correct
"" history
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
